@page {
  /* size: a4; */
  margin: 10%;
  font-family: "YuGothic", "Yu Gothic", sans-serif;
  font-size: 9pt;
  line-height: 1;
  @top-center {
    content: env(doc-title);
  }
  @bottom-center {
    content: counter(page);
  }
}
@page :first {
  @top-center {
    content: none;
  }
}

html {
  font-family: "YuGothic", "Yu Gothic", sans-serif;
}

body {
  font-size: 94%;
  line-height: 2;
}

@media print {
  body {
    column-width: 34em;
    column-gap: 1.5em;
    column-fill: auto;
  }
}

h1.title {
  margin: 1.5em 0 1em;
  font-size: 300%;
  line-height: 1.5;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}

#title-block-header::after {
  content: url(https://vivliostyle.org/assets/vivliostyle-logo.svg);
  display: block;
  width: min-content;
  margin: 3em auto 5em;
}

#TOC > ul > li > a {
  font-size: 120%;
  font-weight: bold;
}

p {
  text-align: justify;
}

h2 {
  font-size: 133%;
  line-height: 1.5;
}

h3 {
  font-size: 120%;
  line-height: 1.5;
}

h2 {
  break-before: page;
}

h2 ~ h2 ~ h3 ~ h3 {
  break-before: column;
}


table {
  border-collapse: collapse;
  font-size: 94%;
  line-height: 1.5;
}

th, td {
  border: 1px solid gray;
  padding: 0 0.5em;
}

th {
  background-color: #EFF1F2;
}

td:nth-child(n+2) {
  text-align: right;
}

#年度貸借対照表 + p + table>tbody>tr:nth-child(1),
#年度貸借対照表 + p + table > tbody > tr:nth-child(5),
#年度貸借対照表 + p + table > tbody > tr:nth-child(11),
#年度貸借対照表 + p + table > tbody > tr:nth-child(12),
#年度貸借対照表 + p + table > tbody > tr:nth-child(19),
#年度貸借対照表 + p + table > tbody > tr:nth-child(20),
#年度貸借対照表 + p + table > tbody > tr:nth-child(22),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(1),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(10),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(21),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(25),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(26),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(28),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(32),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(34),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(40),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(41),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(42),
#年度正味財産増減計算書 + p + table > tbody > tr:nth-child(46),
#年度収支計算書+p+table>tbody>tr:nth-child(10),
#年度収支計算書+p+table>tbody>tr:nth-child(19),
#年度収支計算書+p+table>tbody>tr:nth-child(22),
#年度収支計算書+p+table>tbody>tr:nth-child(23),
#年度収支計算書+p+table>tbody>tr:nth-child(29),
#年度収支計算書+p+table>tbody>tr:nth-child(31),
#年度収支計算書+p+table>tbody>tr:nth-child(37),
#年度収支計算書+p+table>tbody>tr:nth-child(38),
#年度収支計算書+p+table>tbody>tr:nth-child(39),
#年度収支計算書+p+table>tbody>tr:nth-child(43){
  background-color: #EFF6FD;
}

#年度正味財産増減計算書+p+table>tbody>tr:nth-child(5){
    background-color: #f7f6bd;
  }

