<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="bundle.css")
    link(rel="stylesheet", href="assets/fontawesome-free/css/all.min.css")
  body

    section#profile
      h3 著者プロフィール

      .author
        img(src="assets/spring-raining.png")
        .profile
          h4 緑豆はるさめ
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | spring_raining
          code
            i(class="fab fa-github" aria-hidden="true")
            | spring-raining
          div
            | 最近の悩みは業務プログラミングばかりで自発的な開発ができてないことです。趣味開発してえよ……

      .author
        img(src="assets/ogata.jpg")
        .profile
          h4 小形 克宏
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | ogwata
          div
            | 文字とコンピュータのフリーライター。電脳マヴォ合同会社 業務執行社員。

      .author
        img(src="assets/JunTajima.jpg")
        .profile
          h4 田嶋 淳
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | JunTajima
          div
            | 日々 DTP データから EPUB 作ってます。ビールの誘いは断らない。

      .author
        img(src="assets/akabeko.png")
        .profile
          h4 アカベコ
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | akabekobeko
          div
            | 楽しいことなら何でもやりたいプログラマー。Web フロントエンド、モバイル (iOS/Android)、デスクトップ (Native/Electron) 開発してます。

      .author
        img(src="assets/MurakamiShinyu.jpeg")
        .profile
          h4 村上真雄
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | MurakamiShinyu
          div
            | Vivliostyle Foundation 代表。CSS 組版ちょっとできます。

    section#colophon
      h2.title Vivliostyle で本を作ろう Vol. 2
      ul.editions
        li
          time(datetime='2019-09-22') 2019 年 9 月 22 日
          | 初版発行
      table.info
        tr
          td 発行
          td Vivliostyle ユーザー会
        tr
          td 編集
          td 緑豆はるさめ<br/>
            | https://harusamex.com<br/>
            | harusamex.com@gmail.com
        tr
          td 印刷
          td 日光企画 (表紙: NP ホワイト 200kg マット PP 加工 / 本文: 上質紙 90kg)<br/>
            | https://www.nikko-pc.com
      p
        | © Vivliostyle User Group
