<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=s, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vivliostyle で本を作ろう Vol. 2
    link(rel="stylesheet", href="bundle.css")
  body

    #cover
      h1 Vivliostyle で本を作ろう Vol. 2

    h2.toc-header 目　次

    nav#toc(role="doc-toc")
      ul
        li
          a(href="maegaki.html") まえがき
        li
          a(href="spring-raining/index.html")
            .content
              .title Remark で広げる Markdown の世界
              .author 緑豆はるさめ
        li
          a(href="ogata/index.html")
            .content
              .title Vivliostyle で縦組シナリオを組版する
              .author 小形 克宏
        li
          a(href="JunTajima/index.html")
            .content
              .title EPUB ファイルから Vivliostyle で PDF を作りたい！
              .author 田嶋 淳
        li
          a(href="akabeko/index.html")
            .content
              .title CSS で View を定義する意義
              .author アカベコ
        li
          a(href="shinyu/index.html")
            .content
              .title Vivliostyle のこれからの開発課題
              .author 村上 真雄
        li
          a(href="atogaki.html") あとがき
