@charset "UTF-8";

/* 著作者 */
.author {
  display: block;
  font-size: $base-font-size;
  font-weight: bold;
  text-align: end;
}

/* 画像＋キャプション */
figure {
  float-reference: page;
  float: top;
  width: 236pt;
  max-width: 100vw;
  writing-mode: horizontal-tb;
}
figure > img {
  display: block;
  width: 100%;
  height: auto;
}
figcaption {
  text-align: left;
  font-size: 7pt;
  line-height: 14pt;
  margin-bottom: 4pt;
}

/* 奥付 */
.colophon {
  font-size: 7pt;
  // 3行空け
  margin-block-start: $base-line-height * 3;
}
