@page {
  /* size: a4; */
  margin: 10%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "YuGothic", "Yu Gothic", sans-serif;
  font-size: 9pt;
  line-height: 1;
  @top-center {
    content: env(doc-title);
  }
  @bottom-center {
    content: counter(page);
  }
}
@page :first {
  @top-center {
    content: none;
  }
}

html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  font-size: 94%;
  line-height: 1.5;
}

h1 {
  margin: 1.5em 0 1em;
  font-size: 270%;
  line-height: 1.5;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}

h1::after {
  content: url(https://vivliostyle.org/assets/vivliostyle-logo.svg);
  display: block;
  width: min-content;
  margin: 3em auto 5em;
}

p {
  text-align: justify;
}

h2 {
  margin: 0 0 3.3em;
  font-size: 133%;
  line-height: 1.5;
  break-before: page;
}

h3 {
  margin: 1.5 0 1.5em;
  font-size: 120%;
  line-height: 1.5;
}

figure {
  break-inside: avoid;
}

table {
  border-collapse: collapse;
  font-size: 94%;
  line-height: 1.5;
}

th, td {
  border: 1px solid gray;
  padding: 0 0.5em;
}

th {
  background-color: #EFF1F2;
}
