@charset "UTF-8";

html {
  /* フォント */
  font-family: $base-font-family;
  font-weight: normal;
  /* 行末揃え */
  text-align: justify;
  font-size: $base-font-size;
  line-height: $base-line-height;
  /* 約物の調整 */
  text-spacing: space-first allow-end;
}

h1 {
  /* フォント */
  font-weight: bold;
  /* フォントサイズ */
  font-size: 11.5pt;
  /* 字下げ */
  text-indent: 0;
  /* 直後の改ページ・改段禁止 */
  break-after: avoid;
  // 3行取り
  line-height: $base-line-height * 3;
}
h1.short {
  // タイトルが短い場合のスタイル
  letter-spacing: 1em;
}

.without-subsection {
  h1 {
    padding-block-end: $base-line-height * 2;
  }
}

h2 {
  /* フォント */
  font-weight: normal;
  /* フォントサイズ */
  font-size: 10pt;
  /* 字下げ */
  text-indent: 6em;
  /* 直後の改ページ・改段禁止 */
  break-after: avoid;
  // 2行取り
  line-height: $base-line-height * 2;
}

h1 + h2 {
  // 1行空け
  margin-block-start: $base-line-height;
}

ruby > rt {
  font-size: 50%;
}

p {
  text-indent: 1em;
  /* 段落先頭約物の調整、行末句読点ぶら下げあり */
  hanging-punctuation: first allow-end;
}

/* 縦中横 */
.tcy {
  text-combine-upright: all;
}

/* 圏点（ゴマ） */
em.sesame_dot {
  font-style: normal;
  text-emphasis-style: sesame;
}
