@import './variables.scss';

:root {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-feature-settings: 'palt', 'calt';
}

h1 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: $color_blue;
}

a:visited {
  color: $color_purple;
}

a:hover {
  text-decoration: underline;
  color: $color_red;
}

p {
  font-feature-settings: 'calt';
  text-align: justify;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', $font-family !important;
}

pre {
  box-decoration-break: clone;
}

ul, ol {
  padding-inline-start: 1.5em;
}

figure {
  margin: 1.5rem auto;
  text-align: center;
  img {
    max-width: 100%;
    margin: 0.5rem auto;
  }
  figcaption {
    margin: 1rem auto;
    width: 90%;
    font-size: 90%;
    break-inside: avoid;
  }
  img[src$='.png'],
  img[src$='.jpg'],
  img[src$='.jpeg'] {
    image-resolution: 200dpi;
  }
}
p > img {
  width: 100%;
}

table {
  display: table;
  max-width: 100%;
  margin: 1rem auto;
  border-color: currentColor;
  border-collapse: collapse;
  th, td {
    padding: .2em .2em .2em 0;
    &:first-child {
      padding-left: .2em;
    }
    background-color: transparent;
    border: 0;
  }
  th {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  tr {
    // border-bottom: .5px solid
    $narrow-border-width: .4px;
    box-shadow: 0 $narrow-border-width+.3px 0 -.3px currentColor;
  }
  tr:last-child {
    border-bottom: 1px solid;
  }
}

blockquote {
  margin: 1em 1.5rem;
  background-color: $color_silver;
  padding: 0.5em 1em;
  border-radius: 0.2rem;
  :not(pre) > code {
    padding: 0;
    word-break: break-all;
  }
}

.draft-author {
  text-align: right;
  margin-bottom: 3rem;
}

.page-break {
  page-break-after: always !important;
}
