@import './variables.scss';

@mixin page-top-style() {
  content: '';
  margin-bottom: 8mm;
  background-color: #4e272d;
}

@media screen {
  body {
    margin: auto 4rem;
    margin: 0 auto;
    padding: 8rem 8px 4rem;
    max-width: 60rem;
  }
  section {
    clear: both;
  }

  figure {
    max-width: 50rem;
  }

  .footnote {
    vertical-align: super;
    background-color: rgba(214, 255, 0, 0.4);
    margin: 0 0.1rem;
    line-height: 0;

    a {
      word-break: break-all;
    }
  }

  a[data-ref='sec'],
  a[data-ref='subsec'],
  a[data-ref='fig'],
  a[data-ref='tbl'],
  a[data-ref='cite'] {
    color: $color_red;
    background-color: rgba(255, 0, 0, 0.3);
  }
  a[data-ref='sec']::before {
    content: 'XXX 章';
  }
  a[data-ref='subsec']::before {
    content: 'XXX.XXX 章';
  }
  a[data-ref='fig']::before {
    content: '図 XXX';
  }
  a[data-ref='tbl']::before {
    content: '表 XXX';
  }
  a[data-ref='cite']::before {
    content: '[XXX]';
  }
}

@media print {
  :root {
    widows: 3;
    orphans: 3;
    hyphens: auto;
    font-size: $master-font-size-for-print;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  tr,
  th,
  td {
    break-inside: avoid;
  }

  a {
    color: currentColor;
    text-decoration: underline;
  }

  article > h1,
  section#profile {
    margin-top: -10mm;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    font-size: 90%;
    // text-overflow: ellipsis;
    white-space: pre-wrap;
  }

  table {
    font-size: 80%;
  }

  .footnote {
    font-size: $footnote-font-size-for-print;
    float: footnote;
    text-align: left;
  }
}

@page {
  size: $page-width $page-height;
  margin-top: $page-margin-top;
  padding-top: 15mm;
  margin-bottom: $page-margin-bottom - 6mm;
  // marks: crop cross;

  @top-left-corner {
    @include page-top-style();
    margin-top: -$page-bleed;
    margin-left: -$page-bleed;
  }
  @top-center {
    @include page-top-style();
    margin-top: -$page-bleed;
    margin-left: -1mm;
    margin-right: -1mm;
    padding-left: 1mm;
    padding-right: 1mm;
  }
  @top-right-corner {
    @include page-top-style();
    margin-top: -$page-bleed;
    margin-right: -$page-bleed;
  }

  @bottom-left-corner {
    content: '';
    margin-top: -8mm;
    margin-bottom: -$page-bleed;
    margin-left: -$page-bleed;
    z-index: 1000;
  }
  @bottom-right-corner {
    content: '';
    margin-top: -8mm;
    margin-bottom: -$page-bleed;
    margin-right: -$page-bleed;
    z-index: 1000;
  }
}

// Cover page
@page :first {
  // margin: 0;
  background-color: #4e272d;

  @top-left-corner {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-left-corner {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
}

@page :left {
  margin-left: $page-margin-outer;
  margin-right: $page-margin-inner;

  @top-center {
    content: env(pub-title);
    font-family: $font-family;
    font-size: $master-font-size-for-print;
    color: $color_white;
    text-align: left;
    padding-top: 8mm;
  }
  @bottom-left {
    content: counter(page);
    font-family: $font-family;
    font-size: $master-font-size-for-print;
    border-left: 1px solid;
    margin-top: 15mm;
    margin-bottom: -$page-bleed;
    padding: 0 4mm 15mm 4mm;
    background-color: $color_white;
  }
}

@page :right {
  margin-left: $page-margin-inner;
  margin-right: $page-margin-outer;

  @top-center {
    content: env(doc-title);
    font-family: $font-family;
    font-size: $master-font-size-for-print;
    color: $color_white;
    text-align: right;
    padding-top: 8mm;
  }
  @bottom-right {
    content: counter(page);
    font-family: $font-family;
    font-size: $master-font-size-for-print;
    border-right: 1px solid;
    margin-top: 15mm;
    margin-bottom: -$page-bleed;
    padding: 0 4mm 15mm 4mm;
    background-color: white;
  }
}

// style for footnote top borders
@-adapt-footnote-area::before {
  margin-inline-start: -1000px;
  margin-inline-end: 70%;
  margin-block-end: 0.8em;
}
@-adapt-footnote-area {
  word-break: break-all;
}
