@charset "UTF-8";
html {
  font-family: "Optima", "Candara", "Hiragino Sans", "Meiryo", sans-serif;
  font-feature-settings: "palt" on;
  font-size: 150%;
  font-weight: 300;
  line-height: 1.5;
}

@page {
  size: 210mm 148mm;
  margin: 12mm 0 0;
  padding: 0 0 18mm;
  background-image: url(../img/footer-bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Optima", "Candara", "Hiragino Sans", "Meiryo", sans-serif;
  font-size: 11pt;
  line-height: 1.2;
  @top-right-corner {
    margin-top: 7mm;
    margin-bottom: 1mm;
    margin-left: -10mm;
    content: counter(page);
  }
  @top-right {
    margin-top: 7mm;
    margin-bottom: 1mm;
    margin-right: 15mm;
    content: "";
  }
}

@page :first {
  margin: 0;
  padding: 0;
  background-color: #0b6bb1;
  background-image: url(../img/footer-bg-c.png);
  @top-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
}

/* reset */

* {
  margin: 0;
  padding: 0;
}

/* 表紙 */

#cover {
  background-color: #0b6bb1;
  color: #fff;
  text-align: center;
}

#cover h1 {
  font-weight: 600;
  font-size: 300%;
  text-align: center;
  color: #fff;
  padding-top: 30mm;
  margin: 0;
}

#cover .event {
  font-size: 100%;
  text-align: center;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
}

#cover .author {
  font-size: 125%;
  text-align: center;
}

#cover a {
  color: inherit;
}

/* 目次 */

#toc {
  page-break-before: always;
  padding: 0 15mm;
}

#toc>h2 {
  color: #06A;
  font-size: 150%;
  font-weight: 600;
}

#toc ol li {
  padding-top: 0.33em;
  padding-bottom: 0.33em;
  border-bottom: 1px dotted #cccccc;
}

#toc ol li a {
  text-decoration: none;
}

#toc ol li a::after {
  content: "　" target-counter(attr(href url), page);
}

#toc ol li:first-child {
  border-top: 1px dotted #cccccc;
}

/* Section */

body>section {
  padding: 0 15mm;
  page-break-before: always;
}

body>section>h2 {
  color: #06A;
  font-size: 250%;
  font-weight: 600;
  padding-top: 30mm;
  page-break-after: avoid;
  page-break-before: always;
  page-break-inside: avoid;
}

/* Subsections */

h3 {
  color: #06A;
  font-size: 150%;
  font-weight: 600;
  page-break-after: avoid;
  page-break-before: always;
  page-break-inside: avoid;
}

h4 {
  color: #06A;
  font-size: 133%;
  font-weight: 600;
  page-break-after: avoid;
  page-break-before: always;
  page-break-inside: avoid;
}

p {
  margin-top: 0.67em;
  page-break-inside: avoid;
}

table p {
  margin-top: 0;
  text-align: left;
}

table {
  margin-top: 0.67em;
  page-break-inside: avoid;
}

code,
pre {
  font-family: "Source Code Pro", "Andale Mono", "Courier", "Courier New", "Yu Gothic", "YuGothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", monospace;
  font-weight: bold;
}

pre {
  background-color: #f6f6f6;
  font-size: 83%;
  margin-top: 0.5em;
  padding: 0.5em 0.5em;
}

ol,
ul {
  margin-top: 0.67em;
  padding-left: 1em;
}

li ol,
li ul {
  margin-top: 0;
}

figure {
  margin-top: 0.67em;
  page-break-inside: avoid;
  text-align: center;
}

figcaption {
  font-size: 83%;
  text-align: center;
}

blockquote {
  line-height: 1.33;
  margin-left: 1em;
  margin-top: 0.67em;
}

blockquote::before {
  color: #D6A;
  content: "\275d";
  float: left;
  font-size: 200%;
  margin-left: -0.83em;
  margin-top: -0.25em;
}

a[href^="#"] {
  color: forestgreen;
  text-decoration: none;
}

a[href^="#"]::after {
  content: "(p." target-counter(attr(href url), page) ")";
  font-size: 90%;
}

