@page {
  /* size: a4; */
  margin: 10%;
  font-family: "YuGothic", "Yu Gothic", sans-serif;
  font-size: 9pt;
  line-height: 1;
  @top-center {
    content: env(doc-title);
  }
  @bottom-center {
    content: counter(page);
  }
}
@page :first {
  @top-center {
    content: none;
  }
}

html {
  font-family: "Optima", "Arial", sans-serif;
}

body {
  font-size: 94%;
  line-height: 1.75;
}

@media print {
  body {
    column-width: 34em;
    column-gap: 1.5em;
    column-fill: auto;
  }
}

h1.title {
  margin: 1.5em 0 1em;
  font-size: 300%;
  line-height: 1.5;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}

#title-block-header::after {
  content: url(https://vivliostyle.org/assets/vivliostyle-logo.svg);
  display: block;
  width: min-content;
  margin: 3em auto 5em;
}

#TOC > ul > li > a {
  font-size: 120%;
  font-weight: bold;
}

p {
  text-align: justify;
}

h2 {
  font-size: 133%;
  line-height: 1.5;
}

h3 {
  font-size: 120%;
  line-height: 1.5;
}

h2 {
  break-before: page;
}

h2 ~ h2 ~ h3 ~ h3 {
  break-before: column;
}

#directors {
  break-before: column;
}

table {
  border-collapse: collapse;
  font-size: 87.5%;
  line-height: 1.5;
}

th, td {
  border: 1px solid gray;
  padding: 0 0.5em;
}

th {
  background-color: #EFF1F2;
}

td:nth-child(n+2) {
  text-align: right;
}

#balance-sheet-for-fy2019 + p + table > tbody > tr:nth-child(4),
#balance-sheet-for-fy2019 + p + table > tbody > tr:nth-child(9),
#balance-sheet-for-fy2019 + p + table > tbody > tr:nth-child(10),
#balance-sheet-for-fy2019 + p + table > tbody > tr:nth-child(15),
#balance-sheet-for-fy2019 + p + table > tbody > tr:nth-child(16),
#balance-sheet-for-fy2019 + p + table > tbody > tr:nth-child(19),
#balance-sheet-for-fy2019 + p + table > tbody > tr:nth-child(20),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(5),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(10),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(13),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(14),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(16),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(17),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(20),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(22),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(23),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(29),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(33),
#net-assets-increasedecrease-statement-for-fy2019 + p + table > tbody > tr:nth-child(34),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(5),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(10),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(13),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(14),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(16),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(17),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(20),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(22),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(23),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(29),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(33),
#income-and-expenditure-statement-for-fy2019 + p + table > tbody > tr:nth-child(34) {
  background-color: #EFF6FD;
}


