@charset "UTF-8";

/* 著作者 */
.author {
  display: block;
  font-size: $base-font-size;
  font-weight: bold;
  text-align: end;
}

/* 画像＋キャプション */
figure {
  float-reference: page;
  float: top;
  width: 236pt;
  max-width: 100vw;
  height: 254pt;
  writing-mode: horizontal-tb;
}
figure > img {
  display: block;
  width: 100%;
  height: auto;
}
figcaption {
  text-align: left;
  font-size: 7pt;
  line-height: 14pt;
  margin-bottom: 4pt;
}

/* 奥付 */
.colophon {
  font-size: 7pt;
  // 3行空け
  margin-block-start: $base-line-height * 3;

  p {
    text-indent: 0;
    hanging-punctuation: none;
  }
}

/* 改ページ */
.page-break {
  break-before: page;
}

.colophon.page-break {
  margin-right: 0;
}

/* 2字下げ */
.indent-double {
  padding-inline-start: 2em;
  text-indent: 0;
  hanging-punctuation: none;
}

/* 目次 */
.toc {
  ol {
    list-style: none;
    a {
      text-decoration: none;
    }
    a::after {
      content: target-counter(attr(href url), page);
      text-combine-upright: all;
      margin-inline-start: 2em;
    }
  }
}

/* 表紙 */
.cover {
  h1 {
    line-height: 17.75em;
    margin-block-start: 1.75em;
  }
}

/* 3行あける */
.line-03 {
  margin-block-start: $base-line-height * 3;
}

/* インデント解除 */
.indent-none {
  text-indent: 0;
  hanging-punctuation: none;
}
