<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="bundle.css")
    link(rel="stylesheet", href="/assets/fontawesome-free/css/all.min.css")
  body

    section#profile
      h3 著者プロフィール

      .author
        img(src="/assets/kondoyuko.jpeg")
        .profile
          h4 kondoyuko
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | kondoyuko
          div
            | 編集者。IT エンジニア向け Web メディアの編集とカンファレンスの企画の仕事をしています。趣味はテクノロジーや自分をハブにしたイベントを作って遊ぶこと。好きなゲームはカービィちゃん！

      .author
        img(src="/assets/mh35.jpg")
        .profile
          h4 MH35
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | MH35JP
          code
            i(class="fab fa-github" aria-hidden="true")
            | mh35
          div
            | Web 系のエンジニア

      .author
        img(src="/assets/akabeko.png")
        .profile
          h4 アカベコ
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | akabekobeko
          div
            | プログラマー

      .author
        img(src="/assets/ogwata.png")
        .profile
          h4 小形克宏
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | ogwata
          div
            | 一般社団法人ビブリオスタイル理事。アニメ「映像研には手を出すな！」にどはまり中。これって Vivliostyle と同じだよねえ？　頭ん中もう完成形見えた〜♪

      .author
        img(src="/assets/spring-raining.png")
        .profile
          h4 spring-raining
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | spring_raining
          code
            i(class="fab fa-github" aria-hidden="true")
            | spring-raining
          div
            | フロントエンドエンジニアとして勤務する傍ら、Vivliostyle Pub の開発、RTX2080Ti をお迎えしディープラーニングおじさんに転生、漫画を買ってきては読まずに積むなどその活動は多岐にわたる

      .author
        img(src="/assets/MurakamiShinyu.jpeg")
        .profile
          h4 村上真雄
          code
            i(class="fab fa-twitter" aria-hidden="true")
            i(class="fab fa-github" aria-hidden="true")
            | MurakamiShinyu
          div
            | Vivliostyle Foundation 代表。CSS 組版ちょっとできます。

    section#colophon
      h2.title Vivliostyle で本を作ろう Vol. 3
      ul.editions
        li
          time(datetime='2020-03-07') 2020 年 3 月 7 日
          | 初版発行
      table.info
        tr
          td 発行
          td Vivliostyle ユーザー会
        tr
          td 編集
          td 緑豆はるさめ<br/>
            | https://harusamex.com<br/>
            | harusamex.com@gmail.com
        tr
          td 印刷
          td 日光企画 (表紙: NP ホワイト 200kg マット PP 加工 / 本文: 上質紙 90kg)<br/>
            | https://www.nikko-pc.com
      p
        | © Vivliostyle User Group
