<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=s, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vivliostyle で本を作ろう Vol. 3
    link(rel="stylesheet", href="bundle.css")
  body

    #cover
      h1 Vivliostyle で本を作ろう Vol. 3

    h2.toc-header 目　次

    nav#toc(role="doc-toc")
      ul
        li
          a(href="maegaki.html") まえがき
        li
          a(href="kondoyuko/index.html")
            .content
              .title 「CSS 組版全然わからない！」からはじめる<br>Vivliostyle 同人誌制作超入門
              .author kondoyuko
        li
          a(href="mh35/index.html")
            .content
              .title GitHub+Circle CI を用いた Vivliostyle+Markdown による<br>組版をやってみた
              .author MH35
        li
          a(href="akabeko/index.html")
            .content
              .title Vivliostyle Flavored Markdown について
              .author akabeko
        li
          a(href="ogwata/index.html")
            .content
              .title “Vivliostyle”、未来へのステップ
              .author 小形克宏
        li
          a(href="spring-raining/index.html")
            .content
              .title Viola のこれからと Vivliostyle Pub
              .author spring-raining
        li
          a(href="shinyu/index.html")
            .content
              .title Web 出版の未来と CSS 組版
              .author 村上真雄
        li
          a(href="atogaki.html") あとがき
