@charset "UTF-8";

/* 表組の基本形 */
.border-simple {
  border-collapse: collapse;
  th, td {
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    vertical-align: top;
    font-size: $base-font-size * 0.75;
    line-height: 1.5;
    padding: 4px;
  }
  th {
    text-align: left;
    font-weight: bold;
    background-color: #f6f6f6;
  }
}

/* セルの改行抑止 */
.nobr {
  white-space: nowrap;
}

/* センタリング */
.ct {
  text-align: center;
}

/* float解除 */
.cl {
  clear: both;
}

/* 右フロート */
.rs {
  float: right;
  margin: 0 0 1em 1em;
}

/* 左フロート */
.ls {
  float: left;
  margin: 0 1em 1em 0;
}


/* 改ページ */
.pb {
  page-break-before: always;
  h2 {
    margin-top: 0;
  }
}

/* 改ページ禁止 */
.nopb {
  page-break-inside: avoid;
}

/* 目次の指定 */
.toc {
  ol {
    li {
      line-height: 2.5em;
      border-bottom: 1px dotted #cccccc;
      a {
        text-decoration: none;

        &::after {
          content: "　" target-counter(attr(href, url), page);
        }
      }
    }
    li:first-child {
      border-top: 1px dotted #cccccc;
    }
  }
}

/* 表紙の指定 */
.cover {
  color: #fff;
  section {
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 2.5em;
      line-height: 1.2;
      text-align: center;
      color: #fff;
      margin-top: 2em;
      margin-bottom: 0;
    }
    .event {
      font-weight: bold;
      font-size: 1.25em;
      text-align: center;
      color: #fff;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .author {
      font-size: 1.25em;
      text-align: center;
    }
    a {
      color: inherit;
    }
  }
}

/* もとの指定 */
em.kenten {
  text-emphasis: filled;
  font-style: normal;
}
.vert {
  writing-mode: vertical-rl;
  h2 {
    margin-top: 0;
    margin-left: 1em;
  }
}
.horiz {
  writing-mode: horizontal-tb;
}
.float {
  float: right;
}
figure {
  text-align: center;
}
figure > img, figure > a > img {
  max-width: 100%;
  max-height: 22em;
}
.multicol {
  column-width: 12em;

  >*:first-child {
    margin-top: 0;
  }
}
section.vert {
  width: 100%;
}
aside.vert {
  float: right;
}
pre.sample {
  padding: .5em;
  margin: .5em;
  background: #eeeeee;
}

p.note {
  font-size: 90%;
  padding-left: 1em;
  text-indent: -1em;
  margin-top: 0.5em;

  &::before {
    content: "※";
  }
}
